.navbar {
    overflow: hidden;
    background-color: transparent;
    font-family: serif;
    }
    
    .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    .dropdown {
      font-family: serif;
    float: left;
    overflow: hidden;
    background-color: white;
    }
    
    .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: white;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
    color: white;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content button {
    float: none;
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    width: 100%;
    }
    
    
    .dropdown-content button:hover {
    background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
    display: block;
    }
    .strokesmall{
      background: black;
      width: 15px;
      height: 15px;
      position: absolute;
      border-radius: 50%;
      top: 80px;
      left: 15px;
    }
    .strokesmed{
      background: black;
      width: 25px;
      height: 25px;
      position: absolute;
      border-radius: 50%;
      top: 80px;
      left: 15px;
    }
    .strokeslarge{
      background: black;
      width: 35px;
      height: 35px;
      position: absolute;
      border-radius: 50%;
      top: 80px;
      left: 15px;
    }
    .eraser{
      background: white;
      width: 35px;
      height: 35px;
      position: absolute;
      border-radius: 50%;
      top: 80px;
      left: 15px;
    }
    #ha{
      position: absolute;
      top:10%;
      background-color: white;
      height: 100%;
      width: 100%;
      border-color: black;
      border-top: 5px;
    }