.navbar{
  
  size: 5%;
  position: fixed;
  left: 7%;
  overflow: hidden;
  background-color: transparent;
  top: 0;
  width: 100%;
  display: inline-block;
  align-items: stretch;
}
.navbar a{
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  padding: 16px;
  font-size: 2vw;
}
.navbar :hover{
  filter: invert(1);
}
/*body{
  background-image: url(contactbg.jpg);
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100%;
}*/
.fullscreen-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  overflow: hidden;
  z-index: -100;
  animation-name: animatebottom;
  animation-duration: 1s;
  
}

.fullscreen-bg__video {
  position:relative;
  width: 100%;
  height: 100%;
}
.connect{
  position: absolute;
  top: 5%;
  text-align: center;
  left: 27%;
  font-size: 5vw;
}
.icons{
  position: absolute;
  top:45%;
  left: 20%;
}
td{
    padding-right: 4vw;
    padding-bottom: 4vw;
}
p{
  font-size: 100%;
  color: black;
}
img{
  height: 6vw;
  border-radius: 25%;
  background-color: transparent;
}
.facebook :hover{
  filter: invert(1);
}
.snap :hover{
  filter: invert(1);
  border-radius: 25%;
}
.google :hover{
  filter: invert(1);
}
.insta :hover{
  filter: invert(1);
}
.email :hover{
  filter: invert(1);
}
.git :hover{
  filter: invert(1);
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 5.1em;
  height: 5.1em;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-top-color: red;
  border-bottom-color: green;
  border-left-color: blue;
  border-right-color: white;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#backg{
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 1;
  height: 100%;
  width: 100%;
}